<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="static\css\style.css" rel="stylesheet">
    <title>{% block title %} {% endblock title %} | Student Evaluator</title>
</head>

<body>

    <!-- Navbar Started -->

    <header class="text-gray-300 bg-gray-700 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0" href="index">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-gray-900 rounded-full"
                    viewBox="0 0 24 24">
                    <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg>
                <span class="ml-3 text-xl">Student Evaluator</span>
            </a>
            <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
                <a class="mr-5 hover:text-white" href="index">Dashboard</a>
                <a class="mr-5 hover:text-white" href="search">Search</a>
                <a class="mr-5 hover:text-white" href="upload">Upload File</a>
                <!-- <a class="mr-5 hover:text-white" href="about">About Us</a>
                <a class="mr-5 hover:text-white" href="contact">Contact Us</a> -->

            </nav>
            <button
                class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-indigo-800 rounded text-base mt-4 md:mt-0"><a href="/">LOGOUT</a>
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </button>
        </div>
    </header>

    <!-- Navbar Ended -->


    {% block body %}
    {% endblock body %}


    <!-- Footer Started -->

    <footer class="text-gray-400 bg-gray-500 body-font">
        <div class="container px-5 py-1 mx-auto flex items-center sm:flex-row flex-col">

            <p class="text-sm text-gray-700 sm:ml-4 sm:pl-4 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4">© MKPITS
            </p>
            <!-- <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                <a class="text-gray-700">
                    Nishant Shrivastava
                </a>
                <a class="ml-3 text-gray-700">
                    &
                </a>
                <a class="ml-3 text-gray-700">
                    Rohit Bhatghare
                </a>
                
            </span> -->
        </div>
    </footer>

    <!-- Footer Ended -->

    <script src="static\js\eval.js"></script>
</body>

</html>