{% extends 'base.html' %}


<!-- Title Started -->

{% block title %} Upload File {% endblock title %}

<!-- Title Ended -->


<!-- Body Started -->

{% block body %}

<!-- Upload File Started -->


<section class="text-gray-400 bg-indigo-200 body-font relative">
  <div class="container-fluid px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">




      <!-- Data Table Started -->

      <div class="flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-auto lg:-mx-auto">
          <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
              <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-indigo-500 lg:w-1/4">
                  <tr>
                    <th scope="col"
                      class="px-6 py-3 text-center text-lg font-medium text-gray-100 uppercase tracking-wider">
                      Emotional Intelligence
                    </th>
                    <th scope="col"
                    class="px-6 py-3 text-center text-lg font-medium text-gray-100 uppercase tracking-wider">
                      Intellectual Capacity
                    </th>
                    <th scope="col"
                    class="px-6 py-3 text-center text-lg font-medium text-gray-100 uppercase tracking-wider">
                      Personality Test
                    </th>
                    <th scope="col"
                    class="px-6 py-3 text-center text-lg font-medium text-gray-100 uppercase tracking-wider">
                      Meta-Cognitive Test
                    </th>
                  </tr>
                </thead>
                <tbody class="bg-indigo-100 divide-y divide-gray-200">
                  <tr>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div class="flex w-80% h-80 items-center justify-center bg-gray-400 sm:rounded-lg">
                        <label class="w-64 flex flex-col items-center px-4 py-6 bg-white text-blue rounded-lg shadow-lg tracking-wide uppercase border border-blue cursor-pointer hover:bg-blue hover:text-blue-800">
                            <svg class="w-8 h-8" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
                            </svg>
                            <span class="mt-2 text-base leading-normal">Select a file</span>
                            <input type='file' class="hidden" />
                        </label>
                    </div>
                    <br>
                        <button
                            class="inline-flex items-center bg-gray-500 border-0 py-1 px-3 focus:outline-none hover:bg-indigo-900 text-gray-100 rounded text-base mt-4 md:mt-0">Download template

                        </button>
                    </td>

                    
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div class="flex w-80% h-80 items-center justify-center bg-gray-400 sm:rounded-lg">
                        <label class="w-64 flex flex-col items-center px-4 py-6 bg-white text-blue rounded-lg shadow-lg tracking-wide uppercase border border-blue cursor-pointer hover:bg-blue hover:text-blue-800">
                            <svg class="w-8 h-8" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
                            </svg>
                            <span class="mt-2 text-base leading-normal">Select a file</span>
                            <input type='file' class="hidden" />
                        </label>
                    </div>
                      <br>
                        <button
                            class="inline-flex items-center bg-gray-500 border-0 py-1 px-3 focus:outline-none hover:bg-indigo-900 text-gray-100 rounded text-base mt-4 md:mt-0">Download template

                        </button>
                    </td>

                    
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div class="flex w-80% h-80 items-center justify-center bg-gray-400 sm:rounded-lg">
                        <label class="w-64 flex flex-col items-center px-4 py-6 bg-white text-blue rounded-lg shadow-lg tracking-wide uppercase border border-blue cursor-pointer hover:bg-blue hover:text-blue-800">
                            <svg class="w-8 h-8" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
                            </svg>
                            <span class="mt-2 text-base leading-normal">Select a file</span>
                            <input type='file' class="hidden" />
                        </label>
                    </div>
                      <br>
                        <button
                            class="inline-flex items-center bg-gray-500 border-0 py-1 px-3 focus:outline-none hover:bg-indigo-900 text-gray-100 rounded text-base mt-4 md:mt-0">Download template

                        </button>
                    </td>


                    <td class="px-6 py-4 whitespace-nowrap">
                      <div class="flex w-full h-80 items-center justify-center bg-gray-400 sm:rounded-lg">
                        <label class="w-64 flex flex-col items-center px-4 py-6 bg-white text-blue rounded-lg shadow-lg tracking-wide uppercase border border-blue cursor-pointer hover:bg-blue hover:text-blue-800">
                            <svg class="w-8 h-8" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
                            </svg>
                            <span class="mt-2 text-base leading-normal">Select a file</span>
                            <input type='file' class="hidden" />
                        </label>
                    </div>
                      <br>
                        <button
                            class="inline-flex items-center bg-gray-500 border-0 py-1 px-3 focus:outline-none hover:bg-indigo-900 text-gray-100 rounded text-base mt-4 md:mt-0">Download template

                        </button>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Data Table Ended -->

    </div>
  </div>
</section>



<!-- Upload File Ended -->

{% endblock body %}

<!-- Body Ended -->